@model WebApplication1.Models.Discussion

@{
    ViewData["Title"] = "Создание дискуссии";
}

<h1>Новая дискуссия</h1>
<p align="justify">Уважаемый посетитель! <br>Для создания дискуссии на портале заполните следующую форму и нажимите "Добавить"</p>

<form asp-controller="Database" asp-action="CreateDiscussion">
    <div>
        <div class="form-group">
            <label asp-for="Theme"></label>
            <input type="text" asp-for="Theme" class="form-control">
        </div>
        <div class="form-group">
            <input type="submit" value="Добавить" class="btn btn-outline-secondary">
        </div>
    </div>
</form>

@if (ViewData.Keys.Contains("Message"))
{
    <h4 style="color: red">@ViewData["Message"]</h4>
}
