
@{
    ViewData["Title"] = "Ограничение доступа";
}

<h1>Ограничение доступа</h1>
<p>Для выполнения данного действия требуются администраторские права. <br>Если Вам нужна администраторская учётная запись, запросите подтвеждение у своего менеджера.</p>
<p><a asp-action="Index" asp-controller="Home">Перейти на главную</a></p>
