
@{
    ViewData["Title"] = "Пользователь авторизован";
}

<p>Вы уже авторизованы в системе под логином @User.Identity.Name.<br>Для регистрации новой учётной записи или входа в другую учётную запись выполните <a asp-action="Logout" asp-controller="Home">выход</a> из текущего аккаунта.</p>

