@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Портал учебной литературы РКСИ</h1>
</div><br>

<p align="justify">Уважаемые посетители! На данном портале Вы можете просматривать учебные издания, находящимися в распоряжении <a href="https://www.rksi.ru/" target="_blank">Ростовского-на-Дону колледжа связи и информатики</a>,
    а пользователи, имеющие учётную запись с правами администратора, могут также добавлять на ресурс другие издания, соответствующие учебным целям.</p>
<p align="justify">Для просмотра учебной литературы портал не требует авторизации. Однако для возможности оставлять комментарии и прочих коммуникаций с остальными участниками портала необходимо зарегистрировать
    учётную запись. Для добавления учебных изданий и редактирования данных об имеющихся на портале также необходимо получить администраторские права доступа.</p>
<p align="justify">В случае возникновения вопросов вы можете обратиться в техническую поддержку портала.</p>
<p align="justify">Ждём каждого посетителя! Приятного обучения!</p>
